.all_content {
    width: 1219px;
    padding: 0px 55px 0px 55px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 64px;
    background: #007765;
    padding-top: 20px;
}

.logo {
    width: 184px;
    height: 45px;
    background: url(img/logo.png);
    margin-left: 55px;
}   